
* {
  /* Permet de bloquer la taille de la boite, le contenu d'adapte*/
  box-sizing: border-box;
}

h1{
  border-style: solid;
  padding: 5px ;
  margin-top: 2px;
  margin-bottom: 7px;
  background-color: WhiteSmoke;
}


/* Style du wrap */
#wrap {
  display: flex;
  flex-direction: row;
}
#wrap1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#wrap1 h2{
  border-style: dashed;
  font-weight: 400;
  padding: 5px ;
  background-color: WhiteSmoke;
}

.intro {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.speech {
  margin: 1em;
  padding: 1em;
  text-align: center;
}
.speech p{
  text-align: center;
  font-weight: bolder;
}

#speechIndex{
  width: 30%;
}

.image {
  height : 60%;
  margin: 1em;
}
#imgLast img{
  width: 100%;
  max-height: 550px;
}

#imgIndex img{
  width: 100%;
  max-height: 550px;
}

#bouton {
  height: 5%;
  text-align: center;
  margin: 30px;
  padding-left: 30px;
}

table {
  margin: auto;
}
th {
  background-color: WindowFrame;
  width: 20%;
  padding: 5px;
}

/* Carte */
#mapid {
  width: 85% ;
  height: 600px;
  border-style: solid;
}

#inventaire {
  width: 15% ;
  height: 600px;
  margin-left: 5px ;
  padding: 5px ;
  border-style: solid ;
  text-align: center;
}
#inventaire h1{
  font-size: 1em;
}

#inventaire1 img {
  width: 50% ;
}

.objtrouve:hover, .objtrouve:focus, .objtrouve:before, .selected {
  color: grey;
  background-color: white;
  box-shadow: 0 1px 0 rgba(255,255,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset,
              0 0 5px grey;
  border-color: rgba(255, 255, 255, .2);
}

/*Body */
body {
  font-family: helvetica ;
  background: silver ;
  color : black
}


p {
  text-align : justify;
}

a:link {
  color: inherit;
}

a:hover, a:focus {
  color: green;
}


/*Bouton*/
#Button {
  margin: auto;
  width: 30%;
  text-align: center;

}
.myButton {
  margin: auto;
  padding: 2px 10px;
  color: grey;
  border-style: solid;
  border-radius: 4px;
  background-color: orange;
  background-image: linear-gradient(orange, yellow 50%, transparent 50%);
  box-shadow: 0 1px 0 rgba(255,255,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset;
  border: 1px solid black;
  /* text-align: center ; */
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  outline:none;
  font-size: 30px;
}

#Button p {
  text-align: center;
}


.myButton:hover,
.myButton:focus {
    color: white;
    background-color: orange;
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset,
                0 0 5px yellow;
    border-color: rgba(255, 255, 255, .2);
}

.myButton:active {
    background-color: orange;
    box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
                0 1px 0 rgba(255,255,255,.3);
    border: 1px solid black;
}

.reduit {
  visibility: hidden;
}

/* Media queries */
@media media:handheld{
  #wrap {
    flex-flow: row wrap;
  }
}
